{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Connexion
{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Connexion</h1>

    <div class="row">
        <div class="col-6 offset-3 text-center">
		<form action="/login" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Se connecter">
            </div>
        </form>
	    </div>
    </div>
    
    <div class="row">
        <div class="col-6 offset-3 mt-4">
            <p>Pas encore inscris ? <a href="/register">C'est par ici !</a> </p>
        </div>
    </div>
{% endblock %}