{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Inscription
{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Inscription</h1>

    <div class="text-center">
		{{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
	</div>
    
    <div class="col-6 offset-md-3">
        <p>Déjà inscris ? <a href="/login">C'est par ici !</a> </p>
    </div>
{% endblock %}