{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Accueil
{% endblock %}

{% block body %}
	<div>

		<h1 class="text-center mt-5 mb-5">Un Blog d'informations, où le partage est essentiel !</h1>

		<h2 class="text-center text-secondary mb-5">Lorem</h2>

		
		{% if admin == 1 %}
			<h4>
				<a href="/add">Ajouter un article</a>
			</h4>
		{% endif %}

		<div class="row row-cols-1 row-cols-md-3 g-4 my-5">
			{% for post in posts %}
				<div class="col">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">

								<a href="/post/{{ post.slug }}" class="text-decoration-none text-dark">{{ post.title }}</a>

							</h5>
							<p class="card-text">
								<small class="text-muted">
									<em>Publié le
										{{ post.updated_at }}</em>
								</small>
							</p>
						</div>
					</div>

				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
