{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-5 mb-5">Tableau de bord</h1>

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-4">Il y a
                        <span>{{ posts|length }}</span>
                        articles
                    </h5>
                    <a class="btn btn-primary" role="button" href="/admin/posts">Voir les articles</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-4">Il y a
                        <span>{{ users|length }}</span>
                        Utilisateurs
                    </h5>
                    <a class="btn btn-primary" role="button" href="/admin/users">Voir les utilisateurs</a>
                    <a class="btn btn-primary" role="button" href="">Ajouter un utilisateur</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-4">Il y a
                        <span>{{ comments|length }}</span>
                        commentaires
                    </h5>
                    <a class="btn btn-primary" role="button" href="/admin/comments">Voir les commentaires</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-4">Il y a
                        <span>{{ messages|length }}</span>
                        Messages
                    </h5>
                    <a class="btn btn-primary" role="button" href="/admin/messages">Voir les messages</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
             <div class="card">
                <div class="card-body">
                    <h5 class="mb-4">Ajouter un article</h5>
                    <a class="btn btn-primary" role="button" href="admin/post/add">Ajouter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}