<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Mon blog
			{% endblock %}
		</title>
		{% block stylesheets %}
		{% endblock %}
	</head>
	<body>
		<main>
			<div> {% block body %}{{name}}{% endblock %}</div>
		</main>

		<footer>
		
		</footer>

		{% block javascripts %}
		{% endblock %}
	</body>
</html>