{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Ajouter un article
{% endblock %}

{% block body %}
	<div>
		<h2 class="text-center text-secondary mb-5">Ajouter un article</h2>

        <h5  class="text-center text-secondary mb-5"><a href="/">Accueil</a></h5>

		<div class="text-center">
		    {{ form_start(form) }}
               {{ form_widget(form) }}
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}